include:
  - ./docker-compose-base.yml

services:
  ragflow-cpu:
    depends_on:
      mysql: { condition: service_healthy }
      es01:  { condition: service_healthy }
      redis: { condition: service_healthy }
      tei-cpu: { condition: service_healthy }
      local-reranker: { condition: service_started }
    profiles: [ cpu ]
    image: ${RAGFLOW_IMAGE}
    ports:
      - "8080:80"
      - "8443:443"
      - "${SVR_HTTP_PORT:-9380}:9380"
      - "${ADMIN_SVR_HTTP_PORT:-9381}:9381"
      - "${SVR_MCP_PORT:-9382}:9382"
    volumes:
      - ./ragflow-logs:/ragflow/logs
      - ./nginx/ragflow.conf:/etc/nginx/conf.d/ragflow.conf
      - ./nginx/proxy.conf:/etc/nginx/proxy.conf
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ../history_data_agent:/ragflow/history_data_agent
      - ./service_conf.yaml.template:/ragflow/conf/service_conf.yaml.template
      - ./entrypoint.sh:/ragflow/entrypoint.sh
    env_file: .env
    networks: [ ragflow ]
    restart: on-failure
    extra_hosts:
      - "host.docker.internal:host-gateway"

  ragflow-gpu:
    depends_on:
      mysql: { condition: service_healthy }
      es01:  { condition: service_healthy }
      redis: { condition: service_healthy }
      tei-gpu: { condition: service_healthy }
      local-reranker: { condition: service_started }
    profiles: [ gpu ]
    image: ${RAGFLOW_IMAGE}
    ports:
      - "8080:80"
      - "8443:443"
      - "${SVR_HTTP_PORT:-9380}:9380"
      - "${ADMIN_SVR_HTTP_PORT:-9381}:9381"
      - "${SVR_MCP_PORT:-9382}:9382"
    volumes:
      - ./ragflow-logs:/ragflow/logs
      - ./nginx/ragflow.conf:/etc/nginx/conf.d/ragflow.conf
      - ./nginx/proxy.conf:/etc/nginx/proxy.conf
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ../history_data_agent:/ragflow/history_data_agent
      - ./service_conf.yaml.template:/ragflow/conf/service_conf.yaml.template
      - ./entrypoint.sh:/ragflow/entrypoint.sh
    env_file: .env
    networks: [ ragflow ]
    restart: on-failure
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
